*{
    /* border: 2px solid red; */
}
body {
    background-color: #DDF7E3;
}
.heading {
    font-family: "Playfair Display", serif;
    color: #DF2E38;
    font-weight: bold;
    text-align: center;
    font-size: 100px;
}
.recipie {
    list-style: none;
    margin-bottom: 50px;
    font-size: 50px;
    text-align: center;
    font-weight: lighter;
}
.recipie-link {
    text-decoration: none;
    font-weight: lighter;
}
.recipie-link:link {
    text-align: center;
    color: #00235B;
}

.recipie-link:visited {
    color: #00235B;
}
.recipie-link:hover{
    color: #5D9C59;
}